%a{ :href => b.url, :class => "bookmark_title" }
	=raw RubyPants.new(b.title).to_html
.clear
=raw RubyPants.new(b.note).to_html
.clear
.permalink
	= link_to b.created_at.strftime("%b %d"), bookmark_path(b.id)