#bookmarks_container
	- @bookmarks.each do |b|
		= render :partial => "show", :locals => { :b => b }
		.clear.medium
	You can also view 
	%a{ :href => "http://www.google.com/reader/shared/andybrett" }
		my shared items on Google Reader
	for items prior to Jan 2011.
:javascript
	$("#bookmarks").addClass('selected');