// Variables
$dagny: #333F62
$link: #0b4e00
$light-gray: #C3C3C3
$light-blue: #EBF2F8

// Layout
body
	font-family: Helvetica
	color: $dagny
	margin: 0

img
	border: 0

a
	text-decoration: none
	color: $link

a:-webkit-any-link
	text-decoration: none
	color: $link
	
h1
	font:
		size: 20px
		weight: normal	

.clear
	clear: both

.clear.small
	height: 10px

.clear.medium
	height: 20px
	
blockquote
	margin: 0px 15px
	margin-left: 15px
	padding-left: 15px
	border-left: 2px solid $dagny
	
// Header and Nav Bar	
	
#header
	padding-top: 10px
	background-color: $light-blue
	width: 100%
	
#headline
	width: 800px
	margin: auto
	img#profile_pic
		float: left
		padding-bottom: 8px

h1#summary
	float: right
	margin: 46px 10px
	padding: 10px

#name
	font-weight: bold
	
#nav_bar
	margin-top: -40px
	border-bottom: 2px solid $dagny
	width: 100%
	background-color: $light-blue
	padding: 5px
	position: fixed
	top: 222px
	
#nav_list
	font-size: 20px
	width: 76%
	margin: auto 0px
	padding: 0px
	ul
		float: right	
		padding: 0
		margin: 0
		li
			float: left
			list-style: none
			margin: 0px 10px
		li.last
			margin-right: 0px
		li.selected
			border-bottom: 2px solid $dagny
	a
		color: inherit
		
// Canvas and Content

#flashnotice
	@extend .text_container
	color: green
	font-weight: bold
	min-height: 0
	
.permalink
	a
		color: gray !important
		font-size: 14px !important
		font-weight: normal !important	
	
.text_container
	margin: auto
	width: 600px
	margin-top: 25px
	
#timeline
	@extend .text_container
	line-height: 20px
	display: block
	.update
		@extend .timeline_item
		font-size: 18px
	.image, .bookmark, .post
		@extend .timeline_item
		margin-top: 0px

.timeline_item
	border-bottom: 1px solid $light-gray
	padding: 20px
	line-height: 26px

#posts
	@extend .text_container
	line-height: 22px
	padding: 10px 0px
	a
		color: inherit
		font-weight: normal

.posts_year
	font-weight: bold
	border-bottom: 1px solid $dagny
	padding-bottom: 14px		
		
.post
	@extend .text_container
	line-height: 28px
	.permalink
		margin: 0px
	.title
		float: left
		font-size: 20px
		margin: 12px 0px

.post_body
	a
		font-weight: bold

#images
	width: 1072px
	margin: auto
	.image
		margin: 14px
		width: 150px
		height: 150px
		float: left
		img
			border: 1px solid $dagny
			padding: 2px
	
.caption
	text-align: center
	
#updates
	@extend .text_container
	padding-top: 20px

.update
	@extend .text_container
		
#bookmarks
	@extend .text_container
	.bookmark
		margin-top: 0px
		border-bottom: 1px solid $light-gray
		padding-bottom: 14px

.bookmark
	@extend .text_container
	.title
		font-weight: bold
	
.admin_form
	@extend .text_container
	width: 630px
		
#footer
	padding: 10px 0px
	text-align: right
	height: 30px