html {
  background-color: #ebf2f8; }

body {
  font-family: Helvetica;
  color: #333f62; }

a:-webkit-any-link {
  text-decoration: none;
  color: inherit; }

.clear {
  clear: both; }

.clear.small {
  height: 10px; }

.clear.medium {
  height: 20px; }

#container {
  margin-left: auto;
  margin-right: auto;
  margin-top: 30px;
  width: 750px;
  height: 700px;
  padding: 20px; }

#content {
  border: 2px solid #333f62; }
  #content img#profile_pic {
    float: left;
    margin-left: -20px;
    margin-top: -20px; }

h1 {
  font-size: 20px;
  font-weight: normal; }

h1#summary {
  float: right;
  margin: 46px 10px;
  padding: 10px; }

#name {
  font-weight: bold; }

#nav {
  font-size: 20px;
  float: right;
  margin: 10px 10px 0px;
  padding: 10px 10px 0px; }
  #nav ul {
    padding: 0;
    margin: 0; }
    #nav ul li {
      float: left;
      list-style: none;
      margin: 0px 10px; }
    #nav ul li.last {
      margin-right: 0px; }
    #nav ul li.selected {
      border-bottom: 2px solid #333f62; }

#item_container {
  padding: 10px 20px; }

#post_container, #notfound_container, #newpost_container, #flashnotice_container {
  min-height: 500px;
  width: 550px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  line-height: 28px;
  display: block; }

#posts_container {
  padding: 10px 0px;
  margin: 0px; }

#notfound_container {
  width: 520px;
  margin-top: 40px;
  text-align: center; }

#newpost_container, #flashnotice_container {
  width: 630px; }

#flashnotice_container {
  min-height: 0;
  color: green; }

h2#post_title {
  margin: 0;
  float: left;
  font-size: 20px; }

#post_date {
  margin: 10px 0px; }

#post_header #post_date {
  float: right; }

#post_body a {
  color: #0b4e00;
  font-weight: bold; }

#footer {
  padding: 10px 0px;
  text-align: right;
  height: 30px; }
