#welcome_container
	- @all_items.each do |i|
		- c = "welcome_item welcome_#{i.class.to_s.downcase}"
		%div{ :class => c }
			= display_in_timeline i
:javascript
	$(window).load(function(){
		var wrappers = $(".image_wrapper");
		for (var i = 0; i < wrappers.length - 1; i++) {
			$(wrappers[i]).css("width", $(wrappers[i].children[0].children[0]).css("width"));
		}
	});