- show_excerpt ||= false
- unless post.title.blank?
	%h2#post_title
		%a{ :href => "/#{post.permalink}" }= post.title
	.clear
	#post_date.permalink
		- time_format = post.published_at.year == Date.today.year ? "%b %d" : "%b %d, %Y"
		%a{ :href => "/#{post.permalink}" }= post.published_at.strftime(time_format)
	.clear
#post_body
	=raw show_excerpt ? post.smart_excerpt : post.body
	- if show_excerpt
		= link_to "Continued...", post.permalink