#images
	- @images.each_with_index do |image, i|
		= render :partial => "images/show", :locals => { :image => image, :size => :small }
		- if i % 6 == 5
			.clear
	.clear
	:javascript
		$(window).load(function(){
			selectPhotosNav();
			alignImages();
		});