.admin_form
	= render :partial => "admin/bookmarks/form", :locals => { :bookmark => @bookmark }
:javascript
	$("#bookmark_permalink").blur(function(){shorten("http://andybrett.com/bookmarks/" + $("#bookmark_permalink").val());});
	if($("#bookmark_permalink").val() != ""){
		shorten($("#bookmark_permalink").val());
	}
	if($("#bookmark_title").val() != ""){
		$("#update_body").val($("#bookmark_title").val() + " : " + 
													$("#update_body").val());	
	}
	$("#bookmark_url").blur(function(){shorten($("#bookmark_url").val());});
	$("#bookmark_title").blur(function(){
			$("#update_body").val($("#bookmark_title").val() + " : " + 
														$("#update_body").val());
		});
	$("#bookmark_note").blur(function(){
			$("#update_body").val($("#bookmark_note").val() + " : " + 
														$("#update_body").val());
		});