.post 
	%h2.title
		404!
	.clear.medium
	.post_body
		Sorry - the page you requested doesn't exist.
		.clear.small
		If you're seeing this after clicking a link, please 
		%a{ :href=> "mailto:andy@andybrett.com"} let me know 
		so I can fix it.