- show_caption ||= false
.image_wrapper	
	%a.gallery_image{ :href => image.image.url(:original) }	
		%img{ :src => "#{image.image.url(:post)}" }
- if show_caption
	.image_caption
		=raw RubyPants.new(image.caption).to_html