- size ||= :post
- show_permalink ||= false
- show_caption ||= false
- show_edit_link ||= false
.image
	- if show_permalink
		.permalink
			= link_to image.published_at.strftime("%b %d"), images_path(image.permalink)
			.clear.medium
	.image_wrapper{ :class => size == :small ? "thumbnail" : "" }
		%a.gallery_image{ :href => image.image.url(:original), :rel => "gallery", :title => (image.caption || "")+ "<span class='permalink'>#{link_to image.published_at.strftime("%b %d"), images_path(image.permalink)}</span>" }
			%img{ :src => "#{image.image.url(size)}" }
	- if show_caption
		.caption
			=raw RubyPants.new(image.caption || "").to_html
	- if show_edit_link
		= link_to "Edit", edit_admin_image_url(image)