.image_container
	- if @older_image.blank?
		%img{ :src => "#{@image.image.url}" }
	- else
		%a{ :href => images_url(@older_image.permalink) }	
			%img{ :src => "#{@image.image.url}" }		
	#image_nav
		#newer
			= link_to "< Newer", images_url(@newer_image.permalink) unless @newer_image.blank?	
		#spacer
		#newer
			= link_to "Older >", images_url(@older_image.permalink) unless @older_image.blank?