= render :partial => "show", :locals => { :image => @image, :show_caption => true, :show_permalink => true }
:javascript
	$("#photos").addClass('selected');
	$(document).ready(function(){
		$("a.gallery_image img").click();
	});