!!! 5
%html
	%head
		%title Andy Brett
		%link{:rel => "shortcut icon", :type => "image/png", :href => "/favicon.png"}
		= stylesheet_link_tag :all
		= javascript_include_tag "http://ajax.googleapis.com/ajax/libs/jquery/1.4.1/jquery.min.js", 'rails', 'application'
		= csrf_meta_tag
	%body
		#container
			#content
				%a{:href => "/"}
					%img#profile_pic{:src => "/images/andy_brett.png"}
				%h1#summary 
					%span#name 
						%a{:href => "/"}
							Andy Brett 
					is a writer, engineer, and athlete living in Silicon Valley
				#nav
					%ul
						%li#writing
							%a{:href => "/writing"} Writing
						%li#readings
							%a{:href => "/readings"} Readings
						%li#projects
							%a{:href => "/projects"} Projects
						%li#photos
							%a{:href => "/photos"} Photos
						%li#about.last
							%a{:href => "/about"} About							
				.clear
				= yield
			#footer